html,
body {
	height: 100%;
	margin: 0;
	background-color: #777
}
#background,
#background div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
#background div {
	-webkit-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	background-size: cover;
	background-position: center
}
.invisible {
	opacity: 0
}

#pfp {
	border-radius: 50%;
	margin: 0 auto;
	width: 50%
}

#status_container {
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	transform: translate(0, -50%);
	text-align: center;
}
#dock_left {
	position: absolute;
	top: 50%;
	left: 0%;
	width: 10%;
	transform: translate(0%, -50%);
	padding-left: 2em;
	text-align: center;
}
#dock_right {
	position: absolute;
	top: 50%;
	right: 0%;
	width: 10%;
	transform: translate(0%, -50%);
	padding-right: 2em;
	text-align: right;
}

span {
	color: white;
	font-family: "Montserrat", sans-serif;
	text-shadow: 2px 2px 2px black
}
span:not(.smol) {
	font-size: 2em;
}
.smol {
	font-size: 0.8em;
}
